#!/bin/sh -e
#
# start/stop SAKU server.
#
# Copyright (C) 2005-2015 shinGETsu Project.
#
### BEGIN INIT INFO
# Provides:          saku
# Required-Start:    $local_fs $network
# Required-Stop:     $local_fs $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Start/stop SAKU server.
### END INIT INFO

USER=shingetsu
COMMAND=/usr/local/bin/saku
PIDFILE=/var/local/run/saku/pid.txt

test -x $COMMAND || exit 0

case "$1" in
    start)
        echo -n "Starting p2p bbs: saku"
        cd /
        sudo -u $USER setsid $COMMAND < /dev/null > /dev/null 2>&1 &
        echo "."
    ;;
    stop)
        echo -n "Stopping p2p bbs: saku"
        if [ ! -f $PIDFILE ]; then
            echo " not running."
            exit 0
        fi
        kill -TERM -`cat $PIDFILE`
        kill -KILL -`cat $PIDFILE` > /dev/null 2>&1 || true
        rm $PIDFILE
        echo "."
    ;;
    restart|force-reload)
        $0 stop
        $0 start
    ;;
    *)
        echo "Usage: $0 {start|stop|restart|force-reload}"
        exit 1
    ;;
esac

exit 0
