<VirtualHost *:80>
    ServerAdmin webmaster@shingetsu.info
    DocumentRoot /srv/www/bbs.shingetsu.info
    ServerName bbs.shingetsu.info
    ServerAlias bbs.shingetsu.info
    ErrorLog /var/log/apache2/bbs.shingetsu.info.error.log
    CustomLog /var/log/apache2/bbs.shingetsu.info.access.log combined
    RewriteMap escape int:escape

    <Directory "/srv/www/bbs.shingetsu.info">
        Options -Indexes -ExecCGI Multiviews SymLinksIfOwnerMatch
        AddType text/xml;charset=UTF-8 .rdf

        RemoveHandler .php
        <FilesMatch "\.ph(p3?|tml)$">
            SetHandler None
            ForceType text/plain
        </FilesMatch>

        LanguagePriority en ja
        DirectoryIndex index

        RewriteEngine on
        RewriteRule gateway.cgi/rss rss.rdf
        RewriteRule server.cgi - [F]
        RewriteRule ^([0-9][^/]*).js$ /STATIC/$1.js
        RewriteRule ^([0-9][^/]*).css$ /STATIC/$1.css
        RewriteRule ^(bootstrap|html5js|jquery)/(.*) /STATIC/$1/$2
        RewriteRule ^favicon.ico$ /STATIC/favicon.ico
        RewriteRule rss1.xsl /STATIC/rss1.xsl
        RewriteCond %{REQUEST_METHOD} GET
            RewriteCond %{QUERY_STRING} ^$
            RewriteCond %{HTTP_USER_AGENT} DoCoMo/2.0
            RewriteRule ^mobile.cgi /mobile.xhtml
        RewriteCond %{REQUEST_METHOD} GET
            RewriteCond %{QUERY_STRING} ^$
            RewriteCond %{HTTP_USER_AGENT} !DoCoMo
            RewriteRule ^mobile.cgi /mobile.html
        RewriteCond %{QUERY_STRING} cmd=post
            RewriteRule . /cgi-bin/dummy.php?
        RewriteCond %{REQUEST_METHOD} POST
            RewriteCond %{HTTP_REFERER} $^
            RewriteCond %{REQUEST_URI} !^/mobile.cgi$
            RewriteRule thread.cgi /cgi-bin/dummy.php
        RewriteCond %{REQUEST_METHOD} POST
            RewriteCond %{HTTP_REFERER} %25|thread.cgi$
            RewriteRule thread.cgi /cgi-bin/dummy.php
        RewriteCond %{REQUEST_METHOD} POST
            RewriteRule ^thread.cgi/. /cgi-bin/dummy.php
        RewriteRule ^gw$ /cgi-bin/gw.cgi
        RewriteRule ^thread.cgi/(thread_[0-9A-F]*)/([0-9a-f]*)/(s?[0-9]*).(.*) \
                    /CACHE/$1/attach/$3_$2.$4
        <Files "mobile.cgi">
            <Limit POST>
                Include /etc/httpd/acl.d/mobile
            </Limit>
        </Files>
        <IfModule mod_proxy.c>
            #RewriteRule ^$ http://bbs.shingetsu.info:8000/gateway.cgi [P]
            RewriteRule ^(gateway|thread).cgi(.*) \
                http://bbs.shingetsu.info:8000/$1.cgi${escape:$2} [P,NE]
        </IfModule>
        RewriteRule ^archive/(.*) http://archive.shingetsu.info/$1 [L]
    </Directory>

    Alias /cgi-bin/ /srv/www/bbs.shingetsu.info/cgi-bin/
    <Directory "/srv/www/bbs.shingetsu.info/cgi-bin">
        Options +ExecCGI
        AddHandler php5-script .php
        AddHandler cgi-script .cgi
    </Directory>

    Alias /STATIC/ /usr/local/share/saku/www/
    <Directory "/usr/local/share/saku/www">
        Options -Indexes -ExecCGI
        RemoveHandler .php
        <FilesMatch "\.ph(p3?|tml)$">
            SetHandler None
            ForceType text/plain
        </FilesMatch>
    </Directory>

    Alias /CACHE/ /srv/saku/cache/
    <Directory "/srv/saku/cache">
        Options -Indexes -ExecCGI
        Header add Content-Disposition "attachment"
        RemoveHandler .php
        <FilesMatch "\.ph(p3?|tml)$">
            SetHandler None
            ForceType text/plain
        </FilesMatch>

        <IfModule mod_proxy.c>
            RewriteEngine on
            RewriteCond %{REQUEST_FILENAME} !-f
                RewriteCond %{REQUEST_FILENAME} !-d
                RewriteRule ^(thread_[0-9A-F]*)/attach/(s?[0-9]*)_([0-9a-f]*).(.*) \
                            http://bbs.shingetsu.info:8000/thread.cgi/$1/$3/$2.$4 [P]
        </IfModule>
    </Directory>
</VirtualHost>

<VirtualHost *:80>
    ServerAdmin webmaster@shingetsu.info
    DocumentRoot /srv/www/bbs.shingetsu.info
    ServerName node.shingetsu.info
    <Directory />
         RedirectMatch ^/$ http://shingetsu.info/
    </Directory>
</VirtualHost>
